.container {
    width: 85%;
    margin: 0px auto;
    padding: 40px 0px;
    display: flex;
    gap: 32px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

.left>h2,
.right>h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.group label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 500;
}

.group input,
.group select {
    border: none;
    /* border-radius: 8px; */
    padding: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    color: black;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.pickups {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 24px;
    width: 60%;
}

.pickupSingle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}

.pickupSingle div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.right {
    width: 600px;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.products {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.single {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 0.3px solid black;
    padding-bottom: 24px;
}

.single:last-child {
    border-bottom: 0px;
}

.single img {
    object-fit: cover;
}

.single div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.single p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
}

.subTotal {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}

.subTotal h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
}

.subTotal p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.pickup {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pickup div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.left button,
.right button {
    padding: 12px 0px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
}

.bill {
    display: none;
}


@media screen and (max-width:500px) {
    .container {
        flex-direction: column;
        width: 95%;
    }

    .single p {
        font-size: 12px
    }

    .left,
    .right,
    .pickups {
        width: 100%;
    }

    .pickup div span,
    .pickups div span {
        font-size: 12px;
    }

    .subTotal h3 {
        font-size: 16px;
    }

    .subTotal p {
        font-size: 14px;
    }

    .left button {
        display: none;
    }


    .bill {
        display: block;
    }
}