.container {
    padding: 70px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.top {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.top>h2 {
    width: 25%;
}

.single {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25%;
}

.single>h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    letter-spacing: 1px;
}


.single div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.single div a,
.single div p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.bottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1px;
    color: white;
}

@media screen and (max-width: 500px) {
    .container {
        gap: 40px;
    }

    .top {
        width: 95%;
        flex-direction: column;
        gap: 16px;
    }

    .single {
        width: 100%;
    }

    .bottom p {
        font-size: 14px;
    }
}