.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 75%;
    margin: 0px auto;
    padding: 50px 0px;
}

.top {
    display: flex;
    align-items: center;
    gap: 50px;
}

.video {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.right div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right div h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.right div p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper h2,
.bottom h2 {
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper p,
.bottom p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom p span {
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }

    .top {
        width: 100%;
        flex-direction: column;
        gap: 40px;
        align-items: unset;
    }

    .video {
        width: 100%;
    }

    .wrapper h2,
    .bottom h2,
    .right div h2 {
        font-size: 20px;
    }

    .right div p,
    .wrapper p,
    .bottom p,
    .wrapper li {
        font-size: 14px;
    }
}